* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.content1 {
    height: 90vh;
    /* width: 100vw; */
    background-image: url(images/Narendra\ modi.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.textContent {
    width: 50%;
    padding: 1rem;
}

.textContent h1 {
    font-size: 4rem;
}

.textContent h2 {
    font-size: 3rem;
}

.content2 {
    height: 60vh;
    /* width: 100vw; */
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ImgBox {
    height: 80%;
    width: 80%;
    background-color: rgb(51, 51, 50);
    display: flex;
    align-items: center;
    justify-content: center;
}

.img1 {
    height: 80%;
    width: 45%;

}

img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.box {
    height: 80%;
    width: 45%;
    color: aliceblue;
    padding: 0.8rem;
}


.box h1 {
    font-size: 2rem;
}

.box p {
    font-size: 1rem;
}

.content3 {
    height: 75vh;
    /* width: 100vw; */
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.InCont3 {
    height: 99%;
    width: 80%;
    background-color: rgb(51, 51, 50);
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxL {
    height: 100%;
    width: 50%;
    padding: 0.5rem;

}

.InCont3 h3 {
    margin: 0.3rem;
    font-size: 1.6rem;
}

.InCont3 p {
    font-size: 0.9rem;
}

.boxR {
    height: 100%;
    width: 50%;
    padding: 0.5rem;
}

/* media for very small size */


@media (max-width:310px){
    .content1 {
        height: 30vh;
    }

    .content2 {
        height: 30vh;
    }
.textContent{
    width:70%;
}
    .textContent h1 {
        font-size: 1.5rem;
    }

    .textContent h2 {
        font-size: 1rem;
    }
    .content2{
        height:60vh;
    }

    .ImgBox {
        flex-direction: column;
    }

    
    .img1 {
        height: 50%;
        width: 90%;
        margin-top: 0.5rem
    }

    .box {
        height: 50%;
        width: 100%;
        padding: 0.2rem;
    }
    .img1 {
        height: 50%;
        width: 90%;
        margin-top: 0.7rem
    }

    .box {
        height: 50%;
        width: 100%;
        color: aliceblue;
        padding: 0.2rem;
    }
    .box h1 {
        font-size: 1rem;
        margin: 0rem;
    }

    .box p {
        font-size: 0.55rem;
    }

    .content3 {
        height:70vh;
    }

    .InCont3 {
        flex-direction: column;
    }
    .boxL {
        height: 50%;
        width: 100%;
        padding: 0.2rem;
    }

    .boxR {
        height: 50%;
        width: 100%;
        padding: 0.2rem;
    }
    .InCont3 h3 {
        margin: 0.1rem;
        font-size: 0.9rem;
    }

    .InCont3 p {
        font-size: 0.37rem;
    }
}

@media (min-width:310px) and (max-width: 575px) {
    .content1 {
        height: 30vh;
    }

    .content2 {
        height: 30vh;
    }

    .textContent h1 {
        font-size: 1.7rem;
    }
    .textContent{
        width:70%;
    }

    .textContent h2 {
        font-size: 1.3rem;
    }
    .content2{
        height:60vh;
    }

    .ImgBox {
        flex-direction: column;
    }

    
    .img1 {
        height: 50%;
        width: 90%;
        margin-top: 0.5rem
    }

    .box {
        height: 50%;
        width: 100%;
        padding: 0.2rem;
    }
    .img1 {
        height: 50%;
        width: 90%;
        margin-top: 0.7rem
    }

    .box {
        height: 50%;
        width: 100%;
        color: aliceblue;
        padding: 0.2rem;
    }
    .box h1 {
        font-size: 1.2rem;
        margin: 0rem;
    }

    .box p {
        font-size: 0.6rem;
    }

    .content3 {
        height:100vh;
    }

    .InCont3 {

        flex-direction: column;
        gap:2rem;
    }

     
    

    .boxL {
        height: 48%;
        width: 100%;
        padding: 0.2rem;
        margin-top:0.1rem;
    }

    .boxR {
        height: 48%;
        width: 100%;
        padding: 0.2rem;
        margin-top:0.1rem;
    }
    .InCont3 h3 {
        margin: 0.1rem;
        font-size: 0.8rem;
    }

    .InCont3 p {
        font-size: 0.5rem;
    }

}

/* media for small size */
@media (min-width: 576px) and (max-width: 768px) {
    .content1 {
        height: 40vh;
    }

    .textContent {
        padding: 0.4rem;
    }

    .textContent h1 {
        font-size: 2rem;
    }

    .textContent h2 {
        font-size: 1.3rem;
    }

    .content2 {
        height: 60vh;

    }

    .ImgBox {
        flex-direction: column;
    }

    .img1 {
        height: 50%;
        width: 90%;
        margin-top: 0.8rem
    }

    .box {
        height: 50%;
        width: 100%;
        padding: 0.2rem;
    }


    .box h1 {
        font-size: 1.5rem;
    }

    .box p {
        font-size: 0.8rem;
    }

    .content3 {
        height: 100vh
    }

    .InCont3 {
        flex-direction: column;
    }

    .boxL {
        height: 50%;
        width: 100%;
        padding: 0.2rem;
    }

    .boxR {
        height: 50%;
        width: 100%;
        padding: 0.2rem;
    }

    .InCont3 h3 {
        margin: 0.3rem;
        font-size: 1rem;
    }

    .InCont3 p {
        font-size: 0.65rem;
    }
}

/* media for medium size */
@media (min-width: 768px) and (max-width: 991px) {
    .content1 {
        height: 50vh;
    }

    .textContent {
        padding: 0.2rem;
    }

    .textContent h1 {
        font-size: 2.4rem;
    }

    .textContent h2 {
        font-size: 1.5rem;
    }

    .content2 {
        height: 50vh;
    }

    .box {
        padding: 0.5rem;
    }

    .box h1 {
        font-size: 2rem;
    }

    .box p {
        font-size: 0.75rem;
    }

    .content3 {
        height: 59vh
    }

    .InCont3L h3 {
        margin: 0.3rem;
        font-size: 1.34rem;
    }

    .InCont3 p {
        font-size: 0.55rem;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .content1{
        height:60vh;
    }

    .textContent h1 {
        font-size: 3.6rem;
    }
    
    .textContent h2 {
        font-size: 2.4rem;
    }
    .content2{
        height:60vh;
    }

    .box h1 {
        font-size: 3rem;
    }

    .box p {
        font-size: 0.9rem;
    }
    .content3{
        height:85vh;
    }
    .InCont3L h3 {
        margin: 0.3rem;
        font-size: 2rem;
    }

    .InCont3 p {
        font-size: 0.8rem;
    }
}